.dataTables_editable_btns{
    clear:both;
}

.editable_button{
    margin-top:1em;
    margin-right:2em;
    padding:1em;
}

.editable-wrapper{
    position:absolute;
    top:0px;
    left:0px;
    z-index:1000;
    box-sizing:border-box;
}

.dt-button.editable-buttons{

}

.dt-button.editable-buttons:hover{

}

.editable-buttons.buttonOn{
    cursor: pointer;
	 text-decoration: none;
	 background:#005691;
	 transform: translate3d(0, 4px, 0);
	 transition: .0s;
	 border-bottom: none;
}

table.dataTable tbody td.editable-focus{
    background-color: rgba(255, 238, 89, 1);
    position:relative;
}

table.dataTable_editable{
    outline: none;
}

.editable-insert-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    padding:3em;
    display:none;
    border-radius: 15%;
    border-width:5px;
    border-style:solid;
    border-color:black;
    background-color:aliceblue;
}

.editable-insert-wrapper p{

    margin: 5px 0 10px 0;
}

.editable-insert-wrapper .title{
    font-size:large;
    text-align:center;
}

.editable-insert-wrapper .insertline{
    width:max-content;
    max-width:95vw;
}

.editable-insert-wrapper .inserttitle{
    display:inline-block;
    width:8em;
}

.editable-insert-wrapper .input{
    display:inline-block;
    width:12em;
}

.editable-insert-wrapper .buttons{
    text-align:center;
}

.editable-insert-wrapper button{
    margin:4px;
    width:7em;
}

#dataTable_editable_screenLock{
    height:100vh;
    width: 100vw;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index:9999;
    background-color:rgba(128,128,128,0.4);
    text-align: center;
}

#des_text{
    width: 100px;
    line-height: 100vh;
    font-size: xxx-large;
    color : black;
}
