.dataTables_editable_btns{
    clear:both;
}

.editable_button{
    margin-top:1em;
    margin-right:2em;
    padding:1em;
}

.editable-wrapper{
    position:absolute;
    top:0px;
    left:0px;
    z-index:1000;
    box-sizing:border-box;
}

table.dataTable tbody td.editable-focus{
    background-color: rgba(255, 238, 89, 1);
    position:relative;
}

table.dataTable_editable{
    outline: none;
}
